[Unit]
Description=JetBrains Toolbox desktop fixer

[Service]
Type=simple
ExecStart=/usr/bin/env jbt-desktop-fixer watch

[Install]
WantedBy=default.target